{% extends 'base.html' %}

<!--Replace the contents inside the content block for this webpage-->
{% block content %}
<style>
  .division {
    border: 2px;
    margin: 25px;
    padding: 30px;
  }
</style>
<div class="division">
  <br />
  <div>
    <div class="badge bg-primary text-wrap fs-3" style="width: device-width/2">
      {{value}}
    </div>
  </div>
  <br />
  <form action="#" method="GET">
    {% csrf_token %}
    <div class="form-group">
      <label>Chat with the bot:</label>
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
        name="user_text"
      ></textarea>
    </div>
    <br />
    <button
      type="submit"
      class="btn btn-primary"
      value="Click"
      name="print_btn"
    >
      Submit
    </button>
  </form>
</div>
{% endblock %}
