[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
django = "==2.1"
pylint-django = "*"
django-tastypie = "*"
gunicorn = "*"

[requires]
python_version = "3.7"

[dev-packages]
autopep8 = "*"
